Source: tsshd
Section: utils
Priority: optional
Maintainer: Lonny Wong <lonnywong@qq.com>
Build-Depends: debhelper (>=9),
               golang-1.21-go
Standards-Version: 3.9.6
Homepage: https://trzsz.github.io/ssh
Vcs-Browser: https://github.com/trzsz/tsshd
Vcs-Git: https://github.com/trzsz/tsshd.git

Package: tsshd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The tsshd works like mosh-server, while the 'tssh --udp' works like mosh.
